#container {
  position: absolute;
  width: 1200px;
  height: 800px;
  border: 2px solid #000000;
  perspective: 600px;
  overflow: hidden;
}

#world {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}

#squarel {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #ff0000;
  transform: translate(-50%, -50%) rotateY(30deg);
  top: 400px;
  left: 600px;
}

#square2 {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-color: #ffff00;
  top: 400px;
  left: 600px;
  transform: translate(-50%, -50%) rotateX(90deg) translateZ(-100px);
}
