#container {
  position: absolute;
  width: 1200px;
  height: 800px;
  border: 2px solid #000000;
  perspective: 600px;
  overflow: hidden;
}

#world {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}

.square {
  position: absolute;
}

.menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

.button {
  position: absolute;
  width: 900px;
  height: 250px;
  background-color: orange;
  cursor: pointer;
}

.button:hover {
  background-color: yellow;
}

#button1 {
  top: 100px;
  left: 150px;
}

#button2 {
  top: 450px;
  left: 150px;
}

#button3 {
  top: 450px;
  left: 150px;
}

#menu2 p {
  position: absolute;
  font-family: "Bitcount Prop Double Ink";
  font-size: 50px;
  margin: 0px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button p {
  position: absolute;
  font-family: "Bitcount Prop Double Ink";
  font-size: 60px;
  margin: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#button3 p {
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
